:root {
  --primary: hsl(16, 100%, 61%);
  --secondary: hsl(208, 51%, 38%);
  --success: hsl(130, 69%, 34%);
  --danger: hsl(0, 100%, 42%);
  --warning: hsl(57  , 100%  , 43%);
  --gray: hsla(0, 0%, 85%, 0.42);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 15%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px 35px 25px;
  border-radius: 5px;
  position: relative;
}

 .notificationBox {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    border-radius: 5px;
    gap: 25px;
    top: 0;
    right: 25px;
    background-color: var(--white);
    color: var(--black);
    z-index: 900;
    box-shadow: inset 0 0 1px var(--black), 0 0 5px var(--white);
    & > svg {
      cursor: pointer;
      font-size: 25px;
    }
    @media (max-width: 778px) {
      & > span,
      & > svg {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }


.todoList {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 25px;
  margin: 20px auto;
  width: calc(100% - 100px);
}

.blockEvent {
  pointer-events: none;
 }

.paginationBox {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items:  center  ;
}

.paginationBtn {
  padding:  8px 16px;
  border:  none;
  outline:  none;
  background-color:  #aaa;
  color:  var(--white);
  font-weight:  bold;
  border-radius:  4px;
  cursor:  pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 120px;
  svg {
    font-weight: bold;
    font-size:  20px;
  }
  &:hover {
    background-color:  #888;
  }
}

.resultShower {
  display:  flex  ;
  padding:  8px 16px  ;
  background-color:  #72A9A9;
  color:  var(--white)  ;
  font-weight:  bold  ;
  border-radius:  4px  ;
  font-size:  12px  ;
}

 .styleTask  {
  padding:  15px 25px;
  border-radius:  5px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  transition: 0.3s ease-in-out;
  position:  relative;
  overflow: hidden;

  &:hover {
    margin-top: -5px;
    transform: scale(1.02);
  }

   @media(max-width: 768px) {
     & {
       width: calc(100% + 200px);
       flex-wrap: wrap;
     }
   }

}

 .taskDone {
   text-decoration: line-through;
   opacity: 0.7;
   background: #e0e1e2;
   & > *:not(input[type='checkbox']) {
     pointer-events: none;
   }
 }

 .btnDelBackGround {
   background-color:  var(--danger);
 }

.btnEditBackGround {
  background-color:  var(--secondary);
}

 .spanTitleStyle  {
  font-size:  17px;
  font-weight:  bold;
  color: var(--black);
  cursor: pointer;
   @media(max-width: 768px) {
     & {
       flex-grow: 1;
     }
   }
}

 .doneStyle  {
  width:  18px;
  height:  18px;
}

.boxEditing  {
  display:  flex;
  flex-direction:  column;
  flex-grow: 1;
}

 .inputStyleEditing  {
   padding:  12px 24px;
   border-radius:  5px;
   flex-grow: 1;
   border: none;
   outline: none;
   box-shadow: 0 1px 1px var(--black), inset 0 1px 2px var(--white);
}

 .alertElementEditing  {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   display: none;
   gap: 15px;
   background: #fff;
   padding: 15px 25px;

   &.show {
     display: flex;
   }

}

 .styleForm  {
  display: flex;
  align-items: end;
  background-color: var(--white);
  padding: 25px 35px;
  width: calc(100% + 50px);
  border-radius: 5px;
  gap: 25px;
  flex-wrap: wrap;
}

 .styleFormBtn  {
  padding: 15px 30px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;

   svg {
     font-size:  18px;
     font-weight: 900;
   }

   &.cleanBtn {
     background-color: var(--danger);
     &:hover {
       transform: scale(0.9);
     }
   }

   &.sortBtn {
     background-color: var(--success);
     &:hover {
       box-shadow: inset 500px 0 5px rgba(255, 255, 255, 0.35);
     }
   }

   &:not(.sortBtn, .cleanBtn):hover {
     background-color:  var(--white);
     color:  var(--primary);
     box-shadow: inset 0 0 5px var(--primary),inset 0 0 15px var(--white);
   }
}

 .styleInput  {
  padding: 12px 24px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
   background-color: var(--white);
   &.valid {
     box-shadow: inset 1px 1px 2px #72a9a9, 1px 1px 1px #72A9A9;
   }
   &.notValid {
     box-shadow: inset 1px 1px 2px #f55, 1px 1px 1px #f55;
   }
}

 .boxInputsStyle  {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
}

 .styleError  {
  font-size: 13px;
  color: var(--danger);
  margin-top: 5px;
}

 .alertBox {
   display: block;
   padding: 15px 35px;
   background-color: var(--white);
   color:  var(--danger);
   border-radius:  4px;
   box-shadow: inset 1px 1px 15px var(--white),inset 1px 1px 15px var(--gray), 0 0 0 1000px hsl(0deg 0% 0% / 27%);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
   text-align: center;
   z-index: 1000;

   & > .titleAlert {
     background-color:  var(--danger);
     color: var(--white);
     width: calc(100% + 70px);
     padding:  8px 16px;
     margin: -15px 0 0 -35px;
   }

   & > .alertMessage {
     color: var(--danger);
     text-transform: capitalize;
     font-size:  20px;
     font-weight:  bold;
     display: block;
     width: 100%;
     padding: 35px 0;
   }

   & > .alertBtn {
     padding:  12px 24px;
     border:  none;
     outline:  none;
     margin-left: 5px;
     color:  var(--white);
     border-radius:  4px;
     cursor: pointer;
       &.confirmation {
         background-color: var(--danger);
       }
       &.annulation {
         background-color: var(--black);
         margin-left: auto;
       }
   }
 }

 .navbar {
   padding: 15px 25px;
   background-color: var(--white);
   border-bottom: 2px solid var(--gray);
   height: 80px;
   max-width: 1200px;
   margin: auto;
   position: relative;
   overflow: hidden;
   @media (max-width: 968px) {
     .navbar {
       width: 100%;
     }
   }

   & > * {
     position: absolute;
     left: 25px;
     top: 0;
   }

   ul {
     list-style: none;
     display: flex;
     gap: 25px;
     align-items: center;
     min-height: 100%;

     li {
       width: 100%;
       height: 80px;
       padding: 0 15px;
       display: flex;
       justify-content: center;
       align-items: center;
       svg {
         width: 35px;
       }
       a {
         color: var(--black);
         height: 100%;
         width: calc(100% + 30px);
         font-weight:  500;
         font-size: 18px;
         text-decoration: none;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         z-index: 12;
         transition: 0.3s ease-in-out;

         &::before,
         &::after {
           content: "";
           position: absolute;
           width: 0;
           height: 2px;
           transition: width 0.3s ease-in-out;
           z-index: -1;
         }

         &::before {
           top: 0;
           left: 0;
           background-color: var(--primary);
         }

         &::after {
           right: 0;
           bottom: 2px;
           background-color: var(--success);
         }

         &:hover::before,
         &:hover::after,
         &.active::before,
         &.active::after {
           width: 100%;
         }

         &:hover,
         &.active {
           -webkit-text-stroke: 1px var(--black);
           -webkit-text-fill-color: var(--white);
         }
       }
     }
   }
   .btnLogout {
     position: relative;
     padding: 12px 25px;
     background-color: var(--black);
     color: var(--white);
     border-radius:  4px;
     top: 50%;
     left: calc(100% - 125px);
     min-width: 100px;
     transform: translateY(-50%);
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 10px;
   }
 }

 .containerNotFound {
   display: flex;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:  150px 25px;
   gap: 15px;
   .iconsError {
     font-size:  10em;
     color: var(--white);
     filter: drop-shadow(5px 0px 5px var(--black));
     transition: 0.3s ease-in-out;
   }
  &:hover .iconsError {
    filter: drop-shadow(0 0 5px var(--primary));
  }
 }

 .notFound {
   position: relative;
   text-transform: uppercase;
   letter-spacing: 5px;
   width: fit-content;
   font-size:  40px;
   font-weight: bold;
   -webkit-text-stroke: 2px var(--black);
  -webkit-text-fill-color: transparent;
   &::after,
   &::before {
     content: attr(data-content);
     position: absolute;
     left: 0;
     text-transform: uppercase;
     overflow: hidden;
     transition: 0.3s;
     width: 100%;
   }

   &::before {
     -webkit-text-fill-color: var(--primary);
     -webkit-text-stroke-color: var(--primary);
     animation: leftRight 1s ease-in-out infinite alternate;
   }
   &::after {
     -webkit-text-stroke: 2px var(--black);
     -webkit-text-fill-color: var(--white);
     animation: leftRightReverse 1s ease-in-out infinite alternate;
   }
 }

 .loader {
   position: absolute;
   width: 50px;
   height: 50px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: transparent;
   border-radius: 50%;
   border: 5px solid var(--danger);
   border-top-color: transparent;
   animation: spin 2s infinite linear alternate;
 }

.headBox {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  & > svg {
    font-size: 70px;
    color: var(--white);
    filter: drop-shadow(0 0 1px var(--black));
    transition: 0.2s;
  }

  &:hover > svg {
    color: var(--black);
  }

.titlePage {
   position: relative;
   display: block;
   margin: 15px auto 0;
   width: fit-content;
   padding: 0 20px;

   &::before,
   &::after {
     content: '';
     position: absolute;
     top: 50%;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: var(--black);
   }

   &::before {
     left: -10px;
   }

   &::after {
     right: -10px;
   }
 }
}


.formContainer {
  background-color: #fff;
  max-width: 700px;
   .groupForm {
     position: relative;
     display: flex;
     flex-direction: column;
     width: 60%;
     @media (max-width: 768px) {
       & {
          width: 100%;
       }
     }
     & > label {
       font-weight: 600;
       text-transform: capitalize;
       margin-bottom: 10px;
     }
     & > input {
       padding: 12px 25px;
       border-radius: 5px;
       border: none;
       outline: none;
       box-shadow: 1px 1px 1px var(--black), inset 1px 1px 2px var(--white), -1px -1px 2px var(--gray);
       margin-bottom: 5px;
       background-color: var(--white);

       &.invalid:focus {
         box-shadow: 1px 1px 1px var(--danger), inset 1px 1px 2px var(--white), -1px -1px 2px var(--gray);
       }

       &.valid:focus {
         box-shadow: 1px 1px 1px var(--success), inset 1px 1px 2px var(--white), -1px -1px 2px var(--gray);
       }
     }

     & > .icon {
       display: none;
     }

     & > input:focus + .iconFeedBack {
       display: block;
       position: absolute;
       top: calc(50% + 6px);
       right: 15px;
       transition: 0.3s;
     }
     & > input:focus + .iconFeedBackErrors {
       transform: translateY(-50%);
       animation: rotation 2s infinite ease-in-out alternate;
       color: var(--danger);
     }
     & > input:focus + .iconFeedBackValid {
       transform: translateY(calc(-50% + 6px));
       animation: flash 2s infinite ease-in-out alternate;
       color: var(--success);
     }
     & > span {
       font-size:  14px;
       color: var(--danger);
     }
   }
  button {
    margin: 0 auto;
    background-color: var(--black);
  }
  span {
    font-size:  14px;
    display: flex;
    gap: 10px;
    color: #777;
    .link {
      color: var(--secondary);
      cursor: pointer;
      user-select: none;
      font-weight: bold;
    }
  }
}

.styleBtn {
  border-radius:  5px;
  border:  none;
  outline:  none;
  cursor:  pointer;
  font-weight: bold;
  padding:  12px 25px;
  margin-left:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  & > svg,
  & > span {
    color:  var(--white);
  }
  @media(max-width: 768px) {
    & {
      margin-left: 0;
    }
  }
}


 @keyframes spin {
   0% { transform: translate(-50%, -50%) rotate(0deg); }
   100% { transform: translate(-50%, -50%) rotate(360deg); }
 }

 @keyframes leftRight {
   0% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }

@keyframes leftRightReverse {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes rotation {
  0%, 100% {
    transform: translateY(-50%) scale(0.8) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) scale(1) rotate(90deg);
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}